body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #0077b5;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}

section {
    margin: 20px;
}

h1, h2 {
    color: #333;
}

.job, .project {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
}

.cert-list {
    list-style-type: none;
}

.cert-list li {
    display: flex;
    align-items: center;
}

.cert-list img {
    width: 30px; /* Adjust size as needed */
    margin-right: 10px;
}

.edu-list {
    list-style-type: none;
}
